.ios-icon{
	background-size: 100% !important; 
	background-repeat: no-repeat;
}

.calculator{
	background-image: url(../img/calculator_ios7_ios_7.png) !important;
}

.calendar{
	background-image: url(../img/calendar_ios7_ios_7.png) !important;
}

.camera{
	background-image: url(../img/camera.png) !important;
}

.clock{
	background-image: url(../img/clock_ios7_ios_7.png) !important;
}

.facetime{
	background-image: url(../img/face_time_ios7_ios_7.png) !important;
}

.galaxy{
	background-image: url(../img/ios_7_galaxy-wide.jpg) !important;
}

.maps{
	background-image: url(../img/maps_ios7_ios_7.png) !important;
}

.mail{
	background-image: url(../img/mail_ios7_ios_7.png) !important;
}

.messages{
	background-image: url(../img/messages_ios7_ios_7.png) !important;
}

.newsstand{
	background-image: url(../img/newsstand_ios7_ios_7.png) !important;
}

.notes{
	background-image: url(../img/notes_ios7_ios_7.png) !important;
}

.passbook{
	background-image: url(../img/passbook.png) !important;
}
.phone{
	background-image: url(../img/phone.png) !important;
}
.photos{
	background-image: url(../img/photos_ios7_ios_7.png) !important;
}
.reminder{
	background-image: url(../img/reminder.png) !important;
}
.safari{
	background-image: url(../img/safari.png) !important;
}
.settings{
	background-image: url(../img/settings.png) !important;
}
.stocks{
	background-image: url(../img/stocks_ios7_ios_7.png) !important;
}

.store{
	background-image: url(../img/store.png) !important;
}


.videos{
	background-image: url(../img/videos_ios7_ios_7.png) !important;
}


.weather{
	background-image: url(../img/weather_ios7_ios_7.png) !important;
}

.music{
	background-image: url(../img/music_ios7_ios_7.png) !important;
}

.game{
	background-image: url(../img/icon_gamecenter_2x.png) !important;
}

.itunes{
	background-image: url(../img/itunesstore_2x.jpg) !important;
}


.compass{
	background-image: url(../img/design_see_icon_compass_2x.jpg) !important;
}

